*{
    font-family: 'Courier New', Courier, monospace;
}
.head{
    text-align: center;
}
.main{
    display: flex;
    justify-content:center;
    /* width: 400px; */
}
.btn{
    height: 20px;
    margin-top: 22px;
    margin-left: 10px;
    background-color: rgb(232, 127, 121);
    border-radius: 4px;
    border: 0;
}
.btn:hover{
    background-color: rgb(210, 73, 66);
}

.tasks{
    justify-content: center;
    display: flex;
    
}

.task.list{
    text-align: center;
}